
* {
    padding: 0px;
    margin: 0px;}
a {
    text-decoration: none;}

[textwhite] {
    color: white;
    
}

html {
    font-size: 12px;
}

[centraliza] {
    margin: auto;
}

[page~="mainbg"] {
    background-color: rgb(89, 52, 147);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='280' height='280' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23000000' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23180018'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

[marginBP] {
    margin-bottom: 2rem;
}


[marginBG] {
    margin-bottom: 4rem;
}

[page~="landpage"] {
    min-height: 100vh !important;
    max-height: max-content;
    padding: 3rem;
    padding-top: 8rem;
}

[page~="simetry"] {
    max-width: 80rem;
    margin: auto;
}


[maxminlenght] {
    max-width: 40rem;
}
[maxlenght] {
    max-width: 80rem;
}

[alinhaS] {
    text-align: start;
}

[alinhaC]{
    text-align: center;
}

[alinhaJ]{
    text-align: justify;
}

[font2] {
    font-size: 2rem;
    
}

[font3] {
    font-size: 3rem;
}

[font4] {
    font-size: 4rem;
}

[font5] {
    font-size: 5rem;
}

[divcontact] {
    display: flex; 
    gap: 3rem;
    margin-bottom: 8rem;
}




body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}

h1, h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    max-height: 4.5rem;
    
    background-color: white;}

header div, header nav {
    flex-grow: 1;
}

[MyLogo] {
    color: transparent;
    background-image: url('../imagens/proz_icon.png');
    width: 40rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
}

header h1 {
    margin-left: 2rem;
    text-align: start;}

header nav { 
    display: inline-flex;
    height: 4.2rem;
}

nav a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    
}

header nav a:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: purple;
    transition: all 600ms ease-in-out;
}

header nav a:hover {
    color: purple;
}

p {
    text-indent: 1rem;
}



#home {
    color: white;
    display: flex;
    flex-wrap: wrap;    

    text-align: justify;
    justify-content: center;
    align-items: center;
}

#home div {
    max-width: 80rem;
}

#home div h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

#home div p, #home div span {
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

#data_students {
    display: inline-block;
    margin-top: 2rem;
}

.tabela {
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

table {
    border-collapse: unset;
    width: 50rem;
    height: 30rem;
}

th, tfoot{
    background-color: rgb(141, 71, 141);
    color: white;
}

td {
    text-align: center;
}

td, th {
    padding: 0.4rem;
}

.formulario {
    width: 100%;
    display: flex; 
    font-size: 2rem; 
    flex-wrap: wrap; 
    justify-content: space-between !important;
}

form {
    width: 100%;
}


[form1] {
    display: flex;
    flex-direction: column;
}

[div1] {
    width: 45%;
}


[altura] {
    height: 5rem;
}

#icpf, #iname, #ischool {
    padding-left: 0.4rem;
    font-size: 1.2rem;
    height: 5.2rem;
}

#ireason {
    padding: 0.6rem 0 0 0.6rem;
    font-size: 1.3rem;
    height: 9rem;
}

[finish] {
    cursor: pointer;
    margin: auto;
    display: block;
    font-size: 2rem;
    height: 6rem;
    width: 18rem;
    color: white;
    font-size: bold;
    border: 0.5rem solid white;
    background-color: rgb(89, 52, 147);
}

button {
    margin-bottom: 1.2rem;
}

button:hover {
    background-color: white;
    color: rgb(89, 52, 147);
}

#request {
    padding-bottom: 6rem;
}
